<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Aggiungi Utente</title>
</head>
<body>
    <div align="center">
        <h2>Aggiungi Nuovo Utente</h2>
        <form th:action="@{/users/add}" th:object="${user}" method="post">
            <label>Nome:</label>
            <input type="text" th:field="*{name}" /><br/><br/>
            <label>Email:</label>
            <input type="text" th:field="*{email}" /><br/><br/>
            <button type="submit">Salva</button>
        </form>
    </div>
</body>
</html>
